.button-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 18rem;
  height: 12rem;
  background-color: white;
  color: black;
  cursor: pointer;
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
  .button-title {
    font-size: 3rem;
  }
  .button-icon {
    font-size: 2.3rem;
  }
}
.button-wrapper--active {
  color: blue;
}
