.home-content-wrapper {
  display: grid;
  column-gap: 0.4rem;
  row-gap: 2rem;
  grid-template-columns: repeat(14, auto);
  height: calc(100vh - 20rem);
  padding: 1.2rem;
  background-color: rgb(59, 118, 195);
}
